.flex{
	display:flex;
	padding:0px;
}
.stu_id{
	margin-right:50px;
	font-weight:bold;
}
.profile_data{
	margin-top:10px;
	margin-left:40px;
}
.change_password{
	margin-top:40px;
	font-weight:bold;
}
.btn-{
	margin-top:30px;
	text-decoration: none;
	padding:10px;
	color:white;
	margin-left:50px;
	background-color:#8289E0;
	cursor:pointer;
	border-radius:10px;
}
.btn-:hover{
	color:white;
	text-decoration: none;
	background-color:#686DB2;
}